registry=https://registry.npmjs.org/
@autonix:registry=https://artifact-keeper.qtsolvdev.com/npm/qa-automation-libraries/
//artifact-keeper.qtsolvdev.com/npm/qa-automation-libraries/:_authToken=8271ec62_c0ae3785359749478e17bc3f11f557fb
